<<<<<<< HEAD
<h1>Please sign up</h1>

<form action="/users" method="post">
	Email: <input name="email" type="text" valued="<%=@user.email %>">
	Password: <input name="password" type="password">
	Password confirmation <input name="password_confirmation" type="password">
=======
<h1> Please sign up </h1>

<form action="/users" method="post">
	Email: <input name="email" type="text">
	Password: <input name="password" type="password">
>>>>>>> ad76d02d331acebe5395e0dab710a80ebd949e64
	<input type="submit" value="Sign up">
</form>